.timeline-wrapper {
	border-top: $separator_color solid 2px;
	border-bottom: $separator_color solid 2px;
}

.comment-wrapper,
.comment-wrapper.isauthor {
	display: flex;
	.comment {
		border-color: $comment_border-color;
		border-radius: 6px;
		margin: 10px;
		color: $comment_color;
		font-family: Arial, Helvetica, sans-serif;
		flex: 1;
		background-color: $comment_background-color;
		border-bottom-color: $comment_border-bottom-color;
		border-style: solid;
		border-width: 1px;
		box-sizing: border-box;
		.comment-header {
			background-color: $comment-header_background-color;
			border-bottom: $comment-header_border-bottom-color 1px solid;
			color: $comment-header_color;
			border-top-left-radius: 6px;
			border-top-right-radius: 6px;
      		margin: 0;
			//padding: 8px 16px;
			padding-left: 16px;
			padding-right: 16px;
			display: flex;
			vertical-align: middle;
			.comment-header-text {
				font-size: 14px;
				font-weight: 400;
				margin: 0;
				padding-top: 8px;
				padding-bottom: 8px;
				.author {
					color: $author_color;
					font-size: 14px;
					font-weight: 600;
					text-decoration-color: $author_color;
					text-decoration-line: none;
					text-decoration-style: solid;
					text-overflow: ellipsis;
					&:hover {
						text-decoration: underline;
					}
				}
				.time-ago {
					color: $comment-header_color;
					height: auto;
					line-height: 21px;
					overflow-wrap: break-word;
					text-decoration-color: $comment-header_color;
					text-decoration-line: none;
					text-decoration-style: solid;
					text-shadow: none;
					&:hover {
						text-decoration: underline;
					}
				}
			}
			.comment-labels {
				margin: auto;
				margin-right: 0;
				.comment-label {
					border: 1px solid $comment_border-color;
					border-radius: 2em;
					box-sizing: border-box;
					color: $comment-header_color;
					cursor: default;
					font-size: 12px;
					font-weight: 500;
					line-height: 18px;
					margin-left: 8px;
					overflow-wrap: break-word;
					padding-left: 7px;
					padding-right: 7px;
					display: inline-block;
					&.strong {
						font-weight: 600;
					}
				}
			}
			details {
				summary {
					//height: 16px;
					line-height:21px;
					margin-left: 8px;
				}
				.details-menu {
					left: -36px;
				}
			}
		}
		.comment-body {
			color: $comment-body_color;
			font-size: 14px;
			padding: 5;
			padding-left: 15px;
			padding-right: 15px;
			img {
				max-width: 100%;
				max-height: 100%;
			}
			a {
				color: $comment-body-anchor_color;
				text-decoration-color: $comment-body-anchor_color;
				text-decoration-line: none;
				text-decoration-style: solid;
				&:hover {
					text-decoration-line: underline;
				}
			}
		}
	}
	.arrow-box {
		position: relative;
		&:after,
		&:before {
			right: 100%;
			top: 20px;
			border: solid transparent;
			content: ' ';
			height: 0;
			width: 0;
			position: absolute;
			pointer-events: none;
		}
		&:after {
			border-color: transparent;
			border-right-color: $comment-header_background-color;
			border-width: 5px;
			margin-top: -5px;
		}
		&:before {
			border-color: transparent;
			border-right-color: $comment_border-color;
			border-width: 6px;
			margin-top: -6px;
		}
	}
}

.comment-wrapper.isauthor {
	.comment {
		border-color: $isauthor--border-color;
		color: $isauthor--comment_color;
		.comment-header {
			background-color: $isauthor--comment-header_background-color;
			border-bottom-color: $isauthor--border-color;
			color: $isauthor--comment-header_color;
			.comment-header-text {
				.time-ago {
					color: $isauthor--comment-header_color;
					text-decoration-color: $isauthor--comment-header_color;
				}
			}
			.comment-labels {
				.comment-label {
					border-color: $isauthor--border-color;
					color: $isauthor--comment-header_color;
				}
			}
		}
	}
	.arrow-box {
		&:after {
			border-right-color: $isauthor--comment-header_background-color;
		}
		&:before {
			border-right-color: $isauthor--border-color;
		}
	}
}
