.header {
    &-wrapper {
        padding: 10px;
    }
    &-comment-count {
        color: $header_color;
        text-decoration: none solid $header_color;
        text-overflow: ellipsis;
        &:hover {
            text-decoration: underline;
        }
    }
}