details {
	float: right;
	position: relative;
	summary {
		float: right;
		list-style-image: none;
		list-style-position: outside;
		list-style-type: none;
		outline: none;
		padding-left: 4px;
		padding-right: 4px;
		padding-top: 8px;
		padding-bottom: 8px;
		&::-webkit-details-marker {
			display: none;
		}
		svg {
			fill: $logout_svg-fill;
			&:hover {
				fill: $logout_svg-fill-hover;
			}
		}
	}
	.details-menu {
		background-color: $details_menu-background-color;
		border-radius: 6px;
		border: 1px solid $details_menu-border-color;
		box-shadow: $details_menu-box-shadow;
		box-sizing: border-box;
		color: $details_menu-color;
		display: block;
		font-size: 14px;
		padding-bottom: 4px;
		padding-top: 4px;
		position: absolute;
        top: 100%;
        width: 75px;
        z-index: 100;
        left: -45px;
		button {
			background-color: rgba(0, 0, 0, 0);
			border: 0px none $details_menu_button-border-color;
			border-radius: 0px;
			box-sizing: border-box;
			color: $details_menu_button-color;
			font-weight: 400;
			margin: 0;
			outline: none;
			overflow-wrap: break-word;
			overflow: hidden;
			padding-bottom: 4px;
			padding-left: 16px;
			padding-right: 8px;
			padding-top: 4px;
			text-align: left;
			text-decoration-color: $details_menu_button-text-decoration-color;
			width: 100%;
			&:hover {
				background-color: $details_menu_button-background-color-hover;
				color: $details_menu_button-color-hover;
			}
        }
        .btn-danger {
            color: $logout_btn-color;
            &:hover {
				background-color: $logout_btn-background-color-hover;
				color: $logout_btn-color-hover;
            }
        }
		&:before,
		&:after {
			position: absolute;
			display: inline-block;
			content: '';
		}
		&:before {
			border: 8px solid transparent;
			border-bottom-color: $details_menu-before-bottom-color;
			top: -16px;
			right: 9px;
			left: auto;
		}
		&:after {
			border: 7px solid transparent;
			border-bottom-color: $details_menu-background-color;
			top: -14px;
			right: 10px;
			left: auto;
		}
	}
}
