details {
	float: right;
	position: relative;
	summary {
		float: right;
		list-style-image: none;
		list-style-position: outside;
		list-style-type: none;
		outline: none;
		padding-left: 4px;
		padding-right: 4px;
		padding-top: 8px;
		padding-bottom: 8px;
		&::-webkit-details-marker {
			display: none;
		}
		svg:hover {
			fill: rgb(3, 102, 214);
		}
	}
	.details-menu {
		background-color: rgb(255, 255, 255);
		border-radius: 6px;
		border: 1px solid rgb(225, 228, 232);
		box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px 0px;
		box-sizing: border-box;
		color: rgb(36, 41, 46);
		display: block;
		font-size: 14px;
		padding-bottom: 4px;
		padding-top: 4px;
		position: absolute;
        top: 100%;
        width: 75px;
        z-index: 100;
        left: -45px;
		button {
			background-color: rgba(0, 0, 0, 0);
			border: 0px none rgb(36, 41, 46);
			border-radius: 0px;
			box-sizing: border-box;
			color: rgb(36, 41, 46);
			font-weight: 400;
			margin: 0;
			outline: none;
			overflow-wrap: break-word;
			overflow: hidden;
			padding-bottom: 4px;
			padding-left: 16px;
			padding-right: 8px;
			padding-top: 4px;
			text-align: left;
			text-decoration-color: rgb(36, 41, 46);
			width: 100%;
			&:hover {
				background-color: rgb(3, 102, 214);
				color: white;
			}
        }
        .btn-danger {
            color: rgb(203, 36, 49);
            &:hover {
                background-color:rgb(215, 58, 73);
            }
        }
		&:before,
		&:after {
			position: absolute;
			display: inline-block;
			content: '';
		}
		&:before {
			border: 8px solid transparent;
			border-bottom-color: rgba(27, 31, 35, 0.15);
			top: -16px;
			right: 9px;
			left: auto;
		}
		&:after {
			border: 7px solid transparent;
			border-bottom-color: #fff;
			top: -14px;
			right: 10px;
			left: auto;
		}
	}
}
