.pagination-wrapper {
	margin: 0 10px;
	padding: 10px 0;
    background: transparent $pagination-wrapper_background-url repeat-x left center/22px 17px !important;
    a {
        text-decoration-line: none;
    }
	.pagination-button {
		background-color: $pagination-button_background-color;
		border: 1px solid $pagination-button_border-color;
		border-radius: $border-radius;
		color: $pagination-button_color;
		margin: 0 auto;
		display: block;
		padding: 8px 24px;
		outline: none;
		.pagination-button-load {
			color: $pagination-button-load_color;
			font-weight: 600;
		}
	}
}
