$comment_color: rgb(36, 41, 46);
$comment_background-color: #fff;
$comment_border-color: rgb(209, 213, 218);
$comment_border-bottom-color: rgb(209, 213, 218);
//
$comment-body_color: rgb(36, 41, 46);
//
$comment-header_color: rgb(88, 96, 105);
$comment-header_background-color: #f6f8fa;
$comment-header_border-bottom-color: rgb(209, 213, 218);
//
$author_color: rgb(36, 41, 46);
//
$time-ago_color: rgb(88, 96, 105);
//
$arrow-box--before_border-color: rgba(0, 0, 0, 0);
$arrow-box--before_border-right-color: rgb(209, 213, 218);
$arrow-box--after_border-color: rgba(0, 0, 0, 0);
$arrow-box--after_border-right-color: rgb(246, 248, 250);
//
//
$editor_background-color: #fff;
$editor_border-color: rgb(209, 213, 218);
$editor_border-bottom-color: rgb(209, 213, 218);
$editor_color: rgb(36, 41, 46);
//
$react-tabs-tab-list_background-color: #f6f8fa;
$react-tabs-tab-list_border-bottom-color: rgb(209, 213, 218);
$react-tabs-tab-list_color: rgb(88, 96, 105);
//
$react-tabs-tab-list-tab_color: #afafaf;
//
$react-tabs-tab-list-tab-selected_background-color: #fff;
$react-tabs-tab-list-tab-selected_border-color: rgb(209, 213, 218);
$react-tabs-tab-list-tab-selected_color: rgb(36, 41, 46);;
//
$editor-textarea_background-color: rgb(250, 251, 252);
$editor-textarea_border-color: rgb(209, 213, 218);
$editor-textarea_color: rgb(36, 41, 46);
//
$markdown-render_background-color: rgb(250, 251, 252);
$markdown-render_border-color: rgb(209, 213, 218);
$markdown-render_color: rgb(36, 41, 46);
//
$separator_color: rgb(225, 228, 232);
//
$header_color: rgb(106, 115, 125);