$comment_color: rgb(36, 41, 46);
$comment_background-color: #fff;
$comment_border-color: rgb(209, 213, 218);
$comment_border-bottom-color: rgb(209, 213, 218);
//
$isauthor--border-color: rgb(192, 211, 235);
$isauthor--comment-header_color: rgb(88, 96, 105);
$isauthor--comment-header_background-color: rgb(241, 248, 255);
$isauthor--comment_color: rgb(210, 210, 210);
//
$comment-body_color: rgb(36, 41, 46);
//
$comment-header_color: rgb(88, 96, 105);
$comment-header_background-color: #f6f8fa;
$comment-header_border-bottom-color: rgb(209, 213, 218);
//
$author_color: rgb(36, 41, 46);
//
$time-ago_color: rgb(88, 96, 105);
//
//
$editor_background-color: #fff;
$editor_border-color: rgb(209, 213, 218);
$editor_border-bottom-color: rgb(209, 213, 218);
$editor_color: rgb(36, 41, 46);
//
$react-tabs-tab-list_background-color: #f6f8fa;
$react-tabs-tab-list_border-bottom-color: rgb(209, 213, 218);
$react-tabs-tab-list_color: rgb(88, 96, 105);
//
$react-tabs-tab-list-tab_color: #afafaf;
//
$react-tabs-tab-list-tab-selected_background-color: #fff;
$react-tabs-tab-list-tab-selected_border-color: rgb(209, 213, 218);
$react-tabs-tab-list-tab-selected_color: rgb(36, 41, 46);;
//
$editor-textarea_background-color: rgb(250, 251, 252);
$editor-textarea_border-color: rgb(209, 213, 218);
$editor-textarea_color: rgb(36, 41, 46);
//
$markdown-render_background-color: rgb(250, 251, 252);
$markdown-render_border-color: rgb(209, 213, 218);
$markdown-render_color: rgb(36, 41, 46);
//
$separator_color: rgb(225, 228, 232);
//
$header_color: rgb(106, 115, 125);
//
$pagination-wrapper_background-url: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="44" height="34" viewBox="0 0 44 34"><polyline points="0 21 22 8 44 21 44 26 22 13 0 26" fill="%23e9e9e9"/></svg>');
$pagination-button_background-color: rgb(255, 255, 255);
$pagination-button_border-color: rgb(209, 213, 218);
$pagination-button_color: rgb(88, 96, 105);
$pagination-button-load_color: rgb(3, 102, 214);