doctype html
html
    head
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible' content='IE=edge')
        meta(name='description' content='Some description')
        meta(name='viewport' content='width=device-width, initial-scale=1')
        link(rel="stylesheet" type="text/css" href="../public/style.scss")
        title Github API

        .form
            h4 API URI
            div
                input#apiURL(type='text')
            div
                select#method
                    option(value="GET") GET
                    option(value="POST") POST
            textarea#body(cols="100" rows="20")
            input#submitBtn(type="button" value="Submit")
            a#loginBtn(href="/login") Log In with Github
        .result
            h4 Result
            textarea#result(cols="40" rows="5")
        script(src="../index.ts")