doctype html
html
    head
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible' content='IE=edge')
        meta(name='description' content='Some description')
        meta(name='viewport' content='width=device-width, initial-scale=1')
        link(rel="stylesheet" type="text/css" href="../public/style.css")

        h1= title
        div.form
            label
                | API URI 
            input.field-divided(type='text' id='endpoint' placeholder='Endpoint')
            input.field-divided(type='text' id='route' placeholder='URI')
            input(type="button" value="Click" id="submitbtn")
        div.result
            h4 Result
            textarea(id="result" cols="40" rows="5")
        script(src="../index.ts")