$comment_color: #fff;
$comment_background-color: #181818;
$comment_border-color: #343434;
$comment_border-bottom-color: #404040;
//
$isauthor--border-color: rgb(34, 68, 102);
$isauthor--comment-header_color: rgb(157, 172, 204);
$isauthor--comment-header_background-color: rgb(24, 32, 48);
$isauthor--comment_color: rgb(210, 210, 210);
//
$comment-body_color: #ccc;
//
$comment-header_color: #ccc;
$comment-header_background-color: #202020;
$comment-header_border-bottom-color: #404040;
//
$author_color: #d2d2d2;
//
$time-ago_color: #afafaf;
//
$arrow-box--before_border-color: rgba(52, 52, 52, 0);
$arrow-box--before_border-right-color: #343434;
$arrow-box--after_border-color: rgba(27, 31, 35, 0);
$arrow-box--after_border-right-color: #1b1f23;
//
//
$editor_background-color: #181818;
$editor_border-color: #343434;
$editor_border-bottom-color: #404040;
$editor_color: #fff;
//
$react-tabs-tab-list_background-color: #202020;
$react-tabs-tab-list_border-bottom-color: #404040;
$react-tabs-tab-list_color: #ccc;
//
$react-tabs-tab-list-tab_color: #afafaf;
//
$react-tabs-tab-list-tab-selected_background-color: #181818;
$react-tabs-tab-list-tab-selected_border-color: #404040;
$react-tabs-tab-list-tab-selected_color: #d2d2d2;
//
$editor-textarea_background-color: #181818;
$editor-textarea_border-color: #404040;
$editor-textarea_color: #d2d2d2;
//
$markdown-render_background-color: #181818;
$markdown-render_border-color: #404040;
$markdown-render_color: #d2d2d2;
//
$separator_color: #383838;
//
$header_color: rgb(148, 148, 148);