$comment_background-color: #181818;
$comment_border-color: #343434;
$comment_border-bottom-color: #404040;
$comment_color: #fff;
//
$isauthor--border-color: rgb(34, 68, 102);
$isauthor--comment-header_color: rgb(157, 172, 204);
$isauthor--comment-header_background-color: rgb(24, 32, 48);
$isauthor--comment_color: rgb(210, 210, 210);
//
$comment-body_color: #ccc;
//
$comment-header_color: #ccc;
$comment-header_background-color: #202020;
$comment-header_border-bottom-color: #404040;
//
$author_color: #d2d2d2;
//
$time-ago_color: #afafaf;
//
$editor_background-color: #181818;
$editor_border-color: #343434;
$editor_border-bottom-color: #404040;
$editor_color: #fff;
//
$react-tabs-tab-list_background-color: #202020;
$react-tabs-tab-list_border-bottom-color: #404040;
$react-tabs-tab-list_color: #ccc;
//
$react-tabs-tab-list-tab_color: #afafaf;
//
$react-tabs-tab-list-tab-selected_background-color: #181818;
$react-tabs-tab-list-tab-selected_border-color: #404040;
$react-tabs-tab-list-tab-selected_color: #d2d2d2;
//
$editor-textarea_background-color: #181818;
$editor-textarea_border-color: #404040;
$editor-textarea_color: #d2d2d2;
//
$markdown-render_background-color: #181818;
$markdown-render_border-color: #404040;
$markdown-render_color: #d2d2d2;
//
$separator_color: #383838;
//
$header_color: rgb(148, 148, 148);
//
$pagination-wrapper_background-url: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="44" height="34" viewBox="0 0 44 34"><polyline points="0 21 22 8 44 21 44 26 22 13 0 26" fill="%23444"/></svg>');
$pagination-button_background-color: rgb(24, 24, 24);
$pagination-button_border-color: rgb(64, 64, 64);
$pagination-button_color: rgb(175, 175, 175);
$pagination-button-load_color: rgb(79, 140, 201);